*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: block;
    /* مش inline block لان هو العنصر الوحيد اللي في المكان دة لذلك خد الماسحة كلها */
    width: 90%;
    margin:40px auto ;
    padding: 30px 0;
    text-align: center;
    
}
.div-list{
    display: inline-block;
    vertical-align:top;
    width: 15%;
    margin-right: 3%;
}
.list-style{
    display: inline-block;
    list-style: none;
    background-color:dimgray;
    color: white;
    text-align: center;
    width: 100%;
   border-radius: 5px;
}
.first-element{
    background-color: orange;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.second-element{
    border-bottom: 1px lightgray solid;
    border-top: 1px lightgray solid;
}
.element-style{
    /* padding-bottom: 20px;
    padding-top: 20px; */
    padding:20px 0;
    text-align: center;   
}
.div-content{
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin: auto auto;
    padding: 20px;
    text-align: left;
    margin-right: 10px;
}
.h2-content{
    margin-bottom: 2%;
}
.div-content p{
    line-height: 20px;
    padding-bottom: 15px;
    padding-top:15px ;
}
.btn{
    background-color: orange;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    margin: 5px;
}
.img-div{
    display: inline-block;
    width: 35%;
    vertical-align:middle;
}
.img-div img{
display: block;
width: 55%;
margin: auto ;
/* Reflection below the image with a gradient fade */
 -webkit-box-reflect: below 0px linear-gradient(transparent, rgba(0, 0, 0, 0.542));
}

